<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Libro</title>
</head>
<body>

    <h1>Resultados</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Autor</th>
            <th scope="col">Editorial</th>
            <th scope="col">Unidades disponibles</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>

         <% data.forEach((libro)=>{ %>
            <tr>
                <th scope="row"><%= libro.Nombre %></th>
                <td><%= libro.Autor %></td>
                <td><%= libro.Editorial %></td>
                <td><%= libro.UnidadesDisponibles %></td>
                <td><%= libro.Ciudad %></td>
                <td><button type="button" class="btn btn-primary">
                    <a href="/actualizarlibros/<%= libro._id %>" style="color: aliceblue;text-decoration: none;">
                        Actualizar
                    </a>
                </button></td>
                <td>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Eliminar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar libro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <p>Seguro que quieres eliminar el libro <%= libro.Nombre %> </p>

        </div>
        <div class="modal-footer">
            <form action="eliminarlibro/<%= libro._id %>" method="post">
                <input type="submit" value="Eliminar" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
  </div>
                </td>
              </tr>

          </tr>
         <% }) %>
        </tbody>
      </table>

      <button type="button" class="btn btn-primary" style="margin: 10px auto; display: block;">
        <a href="/libros" style="color: aliceblue;text-decoration: none;">
            Ver libros
        </a>
    </button>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>